<header id="topHeader" class="responsive-header-img">
    <div class="centerheader">
        <div class="info">
            <div class="row">12.-13. JUNI</div>
            <div class="row">2020</div>
        </div>
        <div class="logo">
            <a href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            </a>
        </div>
        <div class="info">
            <div class="row">BEITOSTØLEN</div>
            <div class="row">STADION</div>
        </div>
        <div class="somediv">
            <a href="/">
                <img src="{{asset "images/FACEBOOK.png"}}" alt="Facebook" class="some" />
            </a>
            <a href="/">
                <img src="{{asset "images/INSTAGRAM.png"}}" alt="Instagram" class="some" />
            </a>
            <a href="/">
                <img src="{{asset "images/TWITTER.png"}}" alt="Twitter" class="some" />
            </a>
        </div>
    </div>
    <nav role='navigation'>
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="mobileMenu">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
            </ul>
        </div>
        <ul id="menu">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </ul>
    </nav>
</header>

<div class="wrapper"></div>
    <div id="global-navigation">
        <header class="header">
            <div class="logo">

            </div>
            <nav class="menu">
                <ul>
                    <li><a href="">HOME</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>