<div class="bl-header fixed-top">
    <nav class="container navbar navbar-expand-lg navbar-light flex-row">
        {{!-- <div class="container"> --}}
            <div class="navbar-brand mx-auto bl-brand">
                <div class="bl-brand-info mx-auto">
                    {{#get "posts" filter="featured:false+tag:hash-dato" limit="1"}}
                    {{#foreach posts}}
                    <div class="row bl-row mx-auto">{{title}}</div>
                    <div class="row bl-row mx-auto">{{excerpt}}</div>
                    {{/foreach}}
                    {{/get}}
                </div>
                <div class="bl-brand-info"><a href="{{@site.url}}"><img class="bllogo" src="{{@site.logo}}" alt="" /></a></div>
                <div class="bl-brand-info mx-auto">
                    {{#get "posts" filter="featured:false+tag:hash-sted" limit="1"}}
                    {{#foreach posts}}
                    <div class="row bl-row mx-auto">{{title}}</div>
                    <div class="row bl-row mx-auto">{{excerpt}}</div>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        {{!-- </div> --}}
        <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-lightp-0">
        <div class="collapse navbar-collapse px-3" id="navbarContent">
            <ul class="navbar-nav mx-md-auto mx-0 w-50 align-items-start nav-fill">
                {{#foreach navigation}}
                <li class="nav-item mx-auto">
                    <a class="nav-link bl-nav-link {{#if current}} active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
                </li>
                {{/foreach}}
            </ul>
        </div>
    </nav>
</div>