<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
 <footer>
    <div class="centerFooter">
      <img class="bllogo" src="{{@site.logo}}" alt="" />
    </div>
    <div class="centerFooter">
      <div class="footerContainer">
        <div class="linksContainer">
          <span><a href='/cookie'>Cookies</a></span> |
          <span><a href='/privacy'>Privacy Policy</a></span> |
          <span><a href='/terms'>Terms &amp; Conditions</a></span>
        </div>
        <div class="creditContainer">
          <span><a href="https://www.facebook.com/deformatno/" target="_blank">Design: Deformat</a></span> |
          <span><a href="https://www.teilin.net/about/" target="_blank">Webutvikler: Teis Lindemark</a></span>
        </div>
      </div>
    </div>
</footer>

<script>
    var $buoop = {required:{e:0,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2019.08 };
    function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>
</body>
</html>
