{{!< default}}
  {{#get "posts" filter="featured:true+tags:nyheter" limit="1" order="published_at asc"}}
    {{#foreach posts}}
      <div class="topbottompadding alert-featured" role="alert">
        <div class="container">
        <div class="row">
          <div class="col-2"><span class="featured-icon"><i class="fas fa-exclamation"></i></span></div>
          <div class="col-10 center-content">
            <article>
              <h1><a href="{{url}}">{{title}}</a></h1>
              <p class="lead">{{excerpt}}</p>
            </article>
          </div>
          </div>
        </div>
      </div>
    {{/foreach}}
  {{/get}}
{{#get "posts" filter="featured:true+tag:hash-frontpage"}}
<header class="container-fluid">
    <div class="row">
        <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
            {{#foreach posts}}
                {{content}}
            {{/foreach}}
        </div>
    </div>
</header>
{{/get}}
{{#get "posts" filter="featured:false+tag:hash-frontpage"}}
<header class="container-fluid">
    <div class="row">
        {{#foreach posts}}
            <div class="col">
                <img src="{{feature_image}}" alt="{{excerpt}}" style="width:100%; height:100%;" />
            </div>
        {{/foreach}}
    </div>
</header>
{{/get}}
<div class="container-fluid topbottompadding center-content yellow-bg">
    <div>
        <h1 id="paintBrushBg" style="padding-left:2em;padding-right:2em;padding-top:1em;padding-bottom:1em;"><a href="https://newsletter.beitostolenlive.no/signup">Meld deg på vårt nyhetsbrev</a></h1>
    </div>
</div>
<div class="container">
    <article>
    <h1 id="paintBrushBg"><a href="/tag/Nyheter/">Nyheter</a></h1>
    <div class="row center-content">
        {{#get "posts" filter="featured:false+tags:nyheter" limit="3"}}
            {{#foreach posts}}
                <div class="col-md-4 news-card bl-card" style="width: 18rem;">
                    <a href="{{url}}"><img src="{{img_url feature_image size="m"}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="{{url}}">{{title}}</a></h4>
                        <p class="card-text">{{excerpt}}</p>
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
    </article>
</div>