{{!< default}}
  {{#get "posts" filter="featured:true+tags:nyheter" limit="1" order="published_at asc"}}
    {{#foreach posts}}
      <div class="topbottompadding alert-featured" role="alert">
        <div class="container">
        <div class="row">
          <div class="col-2"><span class="featured-icon"><i class="fas fa-exclamation"></i></span></div>
          <div class="col-10 center-content">
            <article>
              <h1><a href="{{url}}">{{title}}</a></h1>
              <p class="lead">{{excerpt}}</p>
            </article>
          </div>
          </div>
        </div>
        <hr/>
      </div>
    {{/foreach}}
  {{/get}}
{{#get "posts" filter="featured:false+tag:hash-frontpage"}}
<header class="container-fluid spacetopfront">
    <div class="row">
        {{#foreach posts}}
            <img src="{{feature_image}}" alt="{{excerpt}}" style="width:100%; height:100%;" />
        {{/foreach}}
    </div>
</header>
{{/get}}
<hr/>
<div class="container">
    <article>
    <h1 id="paintBrushBg"><a href="/tag/Nyheter/">Nyheter</a></h1>
    <div class="row center-content d-flex align-items-start">
        {{#get "posts" filter="featured:false+tags:nyheter" limit="3"}}
            {{#foreach posts}}
                <div class="col-md-4">
                    <div class="card news-card">
                        <a href="{{url}}"><img
                            src="{{img_url feature_image size="m"}}"
                            class="card-img-top"
                            alt="..." /></a>
                        <div class="card-body">
                            <a href="{{url}}"><h5 class="card-title">{{title}}</h5></a>
                            <p class="card-text bl-card-text">{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
    </article>
</div>

<div class="container">
    <hr />
    {{#get "posts" filter="tag:hash-video" limit="1"}}
        {{#foreach posts}}
            <div class="col-md-12 col-sm-12">
                <h1 id="paintBrushBg">{{title}}</h1>
                <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
                    <iframe style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" 
                            src="https://www.youtube.com/embed/{{excerpt}}" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen></iframe>
                </div>
            </div>
        {{/foreach}}
    {{/get}}
</div>