{{!< default}}

<div class="container spacetop">

    {{#post}}

    <article class="{{post_class}}">
        <h1 id="paintBrushBg">Om Beitostølen Live</h1>
        <p>
            {{excerpt}}
        </p>
        {{#if feature_image}}
            <hr />
            <img class="img-fluid" src="{{img_url feature_image}}">
        {{/if}}
        <section>
            <h1 id="paintBrushBg">{{title}}</h1>
            <hr />
            <div class="row">
                {{#get "posts" filter="tags:info" order="title asc" }}
                    {{#foreach posts }}
                        <div class="col-md-4">
                            <div class="card news-card">
                                {{#if feature_image}}
                                <a href="{{url}}"><img
                                    src="{{img_url feature_image size="m"}}"
                                    class="card-img-top"
                                    alt="..."/></a>
                                {{/if}}
                                <div class="card-body">
                                    <a href="{{url}}"><h5 class="card-title">{{title}}</h5></a>
                                    <p class="card-text bl-card-text">{{excerpt}}</p>
                                </div>
                            </div>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <p>
            <hr />
            {{content}}
        </p>
    </article>

    {{/post}}

</div>