{{!< default}}

{{> header }}

<div class="mainContent">

    {{#post}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h1 class="post-title">Om Beitostølen Live</h1>
        </header>
        <section class="post-content">
            {{excerpt}}
        </section>
        {{#if feature_image}}
            <hr />
            <img class="infoCoverImage" src="{{img_url feature_image}}">
        {{/if}}
        <section>
            <h1 class="post-title">{{title}}</h1>
            <hr />
            <div class="omraader">
                {{#get "posts" filter="tags:info" order="title asc" }}
                    {{#foreach posts }}
                        <div class="omraade">
                            <div class="omraadetittel"><a href="{{url}}">{{title}}</a></div>
                            <div class="omraadebeskrivelse">{{excerpt}}</div>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <section class="post-content">
            <hr />
            {{content}}
        </section>
    </article>

    {{/post}}

</div>