{{!< default}}

<div class="container">

    {{#post}}

    <article class="{{post_class}}">
        <h1 id="paintBrushBg">Om Beitostølen Live</h1>
        <p>
            {{excerpt}}
        </p>
        {{#if feature_image}}
            <hr />
            <img class="img-fluid" src="{{img_url feature_image}}">
        {{/if}}
        <section>
            <h1 id="paintBrushBg">{{title}}</h1>
            <hr />
            <div class="row">
                {{#get "posts" filter="tags:info" order="title asc" }}
                    {{#foreach posts }}
                        <div class="col-md-4">
                            <h4><a href="{{url}}">{{title}}</a></h4>
                            <p>{{excerpt}}</p>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <p>
            <hr />
            {{content}}
        </p>
    </article>

    {{/post}}

</div>