{{!< default}}

{{> header }}

<div class="mainContent">

    {{#post}}

    <article class="{{post_class}}">
    {{^has tag="artister"}}
        <header class="post-header">
            <div class="post-title">{{title}}</h1>
            {{#has tag="nyheter"}}
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date format="DD MMMM YYYY"}}
                    </time>
                </section>
            {{/has}}
        </header>
    {{/has}}
    {{#if feature_image}}
        <section class="post-feature-image">
            <img src="{{img_url feature_image size="s"}}" alt="{{title}}" />
        </section>
    {{/if}}
    <section class="post-content">
        {{content}}
    </section>
    </article>

    {{/post}}

</div>