{{!< default}}

{{#post}}

<div class="container {{post_class}} spacetop">
    <h1 id="paintBrushBg">{{title}}</h1>
{{^has tag="artister"}}
    {{#has tag="nyheter"}}
        <section class="mx-auto post-meta">
            Publisert
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD. MMMM YYYY"}}
            </time>
        </section>
    {{/has}}
{{/has}}
{{^has tag="nyheter,artister"}}
{{#if feature_image}}
    <div class="center-content">
        <img class="img-fluid" src="{{img_url feature_image}}" alt="{{title}}" />
    </div>
    <hr/>
{{/if}}
{{/has}}
<section class="post-content">
    {{content}}
</section>

{{#has tag="frivillig"}}
    <div class="center-content">
        <a href="https://form.arkon.no/?id=7024&key=ylo1J3" target="_blank">
            <img class="bl-frivillig-btn-img" src="{{asset 'images/FRIVILLIG-KNAPP.png'}}" />
        </a>
    </div>
    <hr />
    <div class="row">
        {{#get "posts" filter="tags:frivillig" order="title asc" }}
            {{#foreach posts }}
                <div class="col-md-4">
                    <div class="card news-card">
                        {{#if feature_image}}
                        <a href="{{url}}"><img
                            src="{{img_url feature_image size="m"}}"
                            class="card-img-top"
                            alt="..."/></a>
                        {{/if}}
                        <div class="card-body">
                            <a href="{{url}}"><h5 class="card-title">{{title}}</h5></a>
                            <p class="card-text bl-card-text">{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
    <div class="center-content">
        <a href="https://form.arkon.no/?id=7024&key=ylo1J3" target="_blank">
            <img class="bl-frivillig-btn-img" src="{{asset 'images/FRIVILLIG-KNAPP.png'}}" />
        </a>
    </div>
{{/has}}

{{#has tag="#info"}}
    <hr />
    <div class="row">
        {{#get "posts" filter="tags:info" order="title asc" }}
            {{#foreach posts }}
                <div class="col-md-4">
                    <div class="card news-card">
                        {{#if feature_image}}
                        <a href="{{url}}"><img
                            src="{{img_url feature_image size="m"}}"
                            class="card-img-top"
                            alt="..."/></a>
                        {{/if}}
                        <div class="card-body">
                            <a href="{{url}}"><h5 class="card-title">{{title}}</h5></a>
                            <p class="card-text bl-card-text">{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            {{/foreach}}
        {{/get}}
    </div>
{{/has}}

</div>

{{/post}}