{{!< default}}

{{> header }}

<div class="mainContent">

    {{#post}}

    <article class="{{post_class}}">
    {{^has tag="artister"}}
        <header class="post-header">
            <div class="post-title">{{title}}</h1>
            {{#has tag="nyheter"}}
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date format="DD MMMM YYYY"}}
                    </time>
                </section>
            {{/has}}
        </header>
    {{/has}}
    {{#if feature_image}}
        <section class="post-feature-image">
            <img src="{{img_url feature_image size="s"}}" alt="{{title}}" />
        </section>
    {{/if}}
    {{#has tag="#program"}}
        <section class="centerWrapper">
            <div class="program-grid">
                {{#get "posts" limit="2" filter="tags:program" order="published_at asc"}}
                    {{#foreach posts }}
                        <div class="programBox">
                            {{#if feature_image}}
                                <img src="{{img_url feature_image size="s"}}" alt="{{title}}" />
                            {{/if}}
                            <div class="programContent">{{content}}</div>
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <hr />
    {{/has}}
    <section class="post-content">
        {{content}}
    </section>

    {{#has tag="frivillig"}}
        <div class="centerClass">
            <a href="https://form.arkon.no/?id=4839&key=ngONpn&fbclid=IwAR0Q4KPW07qg-pqhJTAiq8O0cAID82b2rTiT4CITgIfs9UJwELcAliD8gHs" target="_blank">
                <img class="bliFrivilligImg" src="{{asset 'images/FRIVILLIG-KNAPP.png'}}" />
            </a>
        </div>
        <hr />
        <div class="omraader">
            {{#get "posts" filter="tags:frivillig" order="title asc" }}
                {{#foreach posts }}
                    <div class="omraade">
                        <div class="omraadetittel"><a href="{{url}}">{{title}}</a></div>
                        <div class="omraadebeskrivelse">{{excerpt}}</div>
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
        <div class="centerClass">
            <a href="https://form.arkon.no/?id=4839&key=ngONpn&fbclid=IwAR0Q4KPW07qg-pqhJTAiq8O0cAID82b2rTiT4CITgIfs9UJwELcAliD8gHs" target="_blank">
                <img class="bliFrivilligImg" src="{{asset 'images/FRIVILLIG-KNAPP.png'}}" />
            </a>
        </div>
    {{/has}}

    {{#has tag="#info"}}
        <hr />
        <div class="omraader">
            {{#get "posts" filter="tags:info" order="title asc" }}
                {{#foreach posts }}
                    <div class="omraade">
                        <div class="omraadetittel"><a href="{{url}}">{{title}}</a></div>
                        <div class="omraadebeskrivelse">{{excerpt}}</div>
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
    {{/has}}

    </article>

    {{/post}}

</div>