{{!< default}}

<div class="container spacetop">
    {{#tag}}
        {{#has slug="artister"}}
        {{else}}
            <section class="tag-list">
                <h1 id="paintBrushBg">{{name}}</h1>
                {{#if description}}
                    <section class="post-content">
                        {{description}}
                    </section>
                {{/if}}
            </section>
            <hr />
        {{/has}}
    {{/tag}}
    <article class="center-content">
        <div class="row">
            {{#foreach posts}}
                {{#if feature_image}}
                    <div class="col-md-4">
                        <a href="{{url}}">
                            <img class="bl-img-card"
                                src="{{img_url feature_image }}"
                                alt="{{title}}" />
                        </a>
                    </div>
                {{/if}}
            {{/foreach}}
        </div>
    </article>
</div>